<div class=page-title>
  <div id=particles-js-pagetitle></div>
  <div class=container>
    <h1>Projects Details</h1>
    <h6>Everest Marketing</h6>
  </div>
</div>
<div class=section-block>
  <div class=container>
    <div class=row>
      <div class=col-md-12>
        <div class=section-heading>
          <h2 class="animated fadeInLeft wow">First Step</h2>
          <h3>Submittals and Drawings</h3>
        </div>
        <div class=text-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie
            faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            lacinia magna vel molestie faucibus. Cras lacinia magna vel molestie faucibus. Donec auctor et
            urnaLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            lacinia magna vel molestie faucibus.
          <p>Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna
            vel molestie faucibus. Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum
            dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras
            lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
        </div>
        <div class="row mt-30">
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-1.jpg">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-2.jpg">
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-70">
        <div class=section-heading>
          <h2 class="animated fadeInLeft wow">The Final Step</h2>
          <h3>Final Inspections</h3>
        </div>
        <div class=text-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie
            faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            lacinia magna vel molestie faucibus. Cras lacinia magna vel molestie faucibus. Donec auctor et
            urnaLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            lacinia magna vel molestie faucibus.
          <p>Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna
            vel molestie faucibus. Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum
            dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras
            lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
        </div>
        <div class="row mt-30">
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/s-detail-1.jpg">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/s-detail-2.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
