<div class=page-title>
  <div id=particles-js-pagetitle></div>
  <div class=container>
    <h1>Capital Smart City</h1>
    <h6>Everest Marketing</h6>
  </div>
</div>
<div class=section-block>
  <div class=container>
    <div class=row>
      <div class=col-md-12>
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">First Step</h2> -->
          <h3>Capital Smart City Overview</h3>
        </div>
        <div class=text-content>
          <img style="width: 100%;" src="assets/overseas/1.jpg">

          <p>Capital Smart City is the First “Smart City “of Pakistan and the 4th in Asia. It is a grand housing venture
            that is providing state of the art infrastructure, unmatched facilities, and prime location. It is one of
            the most famous housing developments in the country.
          <p>Lahore Smart city is not launching yet but as Lahore is a metropolitan city, and also a hub of cultural and
            financial activities, Capital smart city Lahore is forecast to be a much larger success than their first
            project.
        </div>
        <!-- <div class="row mt-30">
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-1.jpg">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-2.jpg">
          </div>
        </div> -->
        <video style="width: 100%;" controls>
          <source src="assets/img/video.mp4" type="video/mp4">
          <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
        </video>
      </div>
      <div class=col-md-12>
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">First Step</h2> -->
          <h3>Owner & Developers of CSCI:</h3>
        </div>
        <div class=text-content>
          <p>Capital Smart City Islamabad is a joint collaboration between Future Holdings Developments and Habib
            Rafiq(Pvt). Habib Rafiq(Pvt) is a well-known name in the real estate industry in Pakistan, they are
            developers of Bahria and DHA in Islamabad. They have also successfully executed their own housing societies
            in Sargodha, Multan, and Sahiwal by the name of Royal Orchard Multan, Royal Orchard Sarghodha and Royal
            Orchard Sahiwal respectively.
        </div>
        <!-- <div class="row mt-30">
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-1.jpg">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-2.jpg">
          </div>
        </div> -->
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Future Developments Holdings (Pvt.) Limited</h3>
        </div>
        <div class=text-content>
          <p>FDHL is one of the top Pakistani real estate developers and asset management company, that assists in
            developing futuristic smart cities to not only provide a luxurious up-scale living but also profitable
            contributions to its clients.</p>
          <p>
            FDHL is a group association registered under Companies Ordinance 1984. Multiple National and international
            business entities have come together to form this organization. FDHL is a combination of China Liaoning
            International Economic and Technical Cooperation Group Corporation Ltd (CLIC) and Engineering Dimensions
            (Pvt.) Limited (EDL) – Two of the leading companies with expertise in leadership and technical skills.
          </p>
          <p>
            FDHL is devoted to providing advanced modern living experience in its residential and industrial zones.
            These zones are all linked via the vital Lahore-Islamabad Motorway (M-2) and areas around the CPEC Route,
            with designated interchanges for direct access.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>About Habib Rafiq Pvt. LTD</h3>
        </div>
        <div class=text-content>
          <p>Habib Rafiq Pvt. Ltd is a construction and development group based in Pakistan which has been responsible
            for some of the most prestigious construction and engineering projects over the past five decades. Its
            achievements have been the direct result of pure dedication and obligation to their customer demands and
            needs in Pakistan as well as abroad. It also earned ISO 9000 certification due to its quality management
            process.</p>
          <p>
            HRL has been the pioneer in revolutionizing the face of housing infrastructure and development in the last
            15 years and is now considered in the most respectable and well-known names in the market.
          </p>
          <p>
            The mere name Habib Rafiq is considered equivalent to honesty, trust, quality, and professionalism, any real
            estate development group associated with HRL consider themselves extremely privileged and lucky.
          </p>
          <p>
            Over the years HRL group has been responsible for developing esteemed housing schemes such as Bahria Town
            and DHA in Pakistan with complete work including the responsibility of all the infrastructure of these
            societies i.e. construction of houses, roads, electrical work, mechanical work, water storage, gas pipelines
            and also the planning services.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Capital Smart City Location:</h3>
        </div>
        <div class=text-content>
          <p>The Capital Smart City Islamabad (CSCI) is located in the Rawalpindi Region of Islamabad, near the new
            Islamabad International Airport.</p>
          <p>
            The project is located at Lahore-Islamabad Motorway at a distance of 9.2 km from M-2 Toll Plaza near Thalian
            interchange, falling on the eastern route of CPEC. Only 5-6 minutes away from the new Islamabad airport.
          </p>
          <p>Its neighboring housing societies include the Al Mairaj housing scheme, Eighteen Islamabad, Qurtaba City,
            and Blue World City.</p>

        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Capital Smart City Map:</h3>
        </div>
        <div class=text-content>
          <img src="assets/img/capital-smart-city-map.jpg"
            style="width: 100%;">

        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>CSCI Total Area:</h3>
        </div>
        <div class=text-content>
          <p>Capital Smart society first covers a total land of 55,000 Kanal, it is 10 times bigger than its neighboring
            society University Town. It will be one of the closest housing society to the new Islamabad International
            Airport. The master plan given by society at this moment is provisional and will be extended over time.
            Additional land will be added to the project and several other blocks will be added to the project in the
            future.</p>
          <p>in August 2019, authorities had submitted the request of extension of land. After the approval of extension
            now in June, 2020 land of Capital Smart City is equal to 80,000 kanal. it will be the biggest housing
            society in its near by area.</p>

        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Access Points:</h3>
        </div>
        <div class=text-content>
          <p>It can be easily accessed through Main Chakri road from M-2 Motorway and via ring road in the near future.
            The society is also directly accessible to the surrounding areas via the national highway, Lahore-Islamabad
            M-2 Motorway. It will also have its own designated interchange from the motorway which has been approved by
            FWO.</p>

        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>NOC and Planning Permission:</h3>
        </div>
        <div class=text-content>
          <p>NOC of Capital Smart City Islamabad was approved by the RDA and is one of the legal housing projects in
            that area. However, the first NOC granted to society is currently under revision due to the additional land
            acquired so the society is awaiting its NOC for the revised plan for the extended blocks in the society. It
            is expected to be granted soon.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Capital Smart City Blocks</h3>
        </div>
        <h5>Overseas Block:</h5>
        <div class=text-content>
          <p>The capital smart city announced its overseas block in the society at London Dorchester on 20th February
            2018. It is the first society to have introduced a specially designed overseas block in any housing society
            for the first time in Pakistan, exclusively reserved for overseas Pakistani residing abroad.</p>
          <img style="width: 100%;" src="assets/overseas/6.jpg">

          <p>With this initiative, Capital Smart City has aimed to offer a secure and valuable investment opportunity
            for overseas Pakistanis to invest in Pakistan. Due to the supreme location & facilities, Overseas Block has
            immediately become the heart of Capital Smart City.</p>
          <img style="width: 100%;" src="assets/overseas/5.jpg">
          <p>Very soon this block will become the desired future destination of Pakistanis living abroad. To book a
            residential or commercial plot in the Overseas block of Capital Smart City one has to attach a copy of their
            or Overseas National Identity card along with all the other relevant documents.</p>
          <img style="width: 100%;" src="assets/overseas/4.jpg">

        </div>
        <h5>Location of Overseas Block:</h5>
        <div class="text-content">
          <p>Overseas Block of Capital Smart City is located in the upper area to the right side of the main boulevard
            of the society, next to Motorway M-2. The overseas Block will be accessible directly via the proposed
            designated Interchange from the Motorway.</p>
        </div>
        <h5>Plot Sizes & Price Plan of Overseas Block:</h5>
        <div class="text-content">
          <p>The Overseas Block consists of 5 Marla, 7 Marla, 10 Marla, 12 Marla, 1 Kanal & 2 Kanal plots that will
            cater to the needs of Overseas Pakistanis.</p>
          <table class="table table-striped text-center">
            <tbody>
              <tr>
                <td width="90"><strong>Sr.no</strong></td>
                <td width="375"><strong>Plot Size</strong></td>
                <td width="315"><strong>Total Price</strong></td>
              </tr>
              <tr>
                <td width="90">1</td>
                <td width="375">5 Marla</td>
                <td width="315">2,415,000/-</td>
              </tr>
              <tr>
                <td width="90">2</td>
                <td width="375">7 Marla</td>
                <td width="315">3,151,000/-</td>
              </tr>
              <tr>
                <td width="90">3</td>
                <td width="375">10 Marla</td>
                <td width="315">4,140,000/-</td>
              </tr>
              <tr>
                <td width="90">4</td>
                <td width="375">12 Marla</td>
                <td width="315">4,577,000/-</td>
              </tr>
              <tr>
                <td width="90">5</td>
                <td width="375">1 Kanal</td>
                <td width="315">6,210,000/-</td>
              </tr>
              <tr>
                <td width="90">6</td>
                <td width="375">2 Kanal</td>
                <td width="315">12,190,000/-</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <video style="width: 100%;" controls>
        <source src="assets/img/capital-smart-city-2.mp4" type="video/mp4">
        <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
      </video>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Why Invest in Capital Smart City Overseas Block:</h3>
        </div>
        <div class=text-content>
          <p>The overseas block holds a high significance in the Capital Smart City housing project. It depicts
            acknowledgment and appreciation for all the hard work and effort Pakistani citizens living abroad have
            provided for our country. Capital Smart City is providing a safe and profitable opportunity for overseas
            Pakistani citizens to invest in their homeland.</p>
          <p>To make the process easiest as possible online booking has been made available for the people who wish to
            invest in this project from where ever country they are currently living in.</p>
          <img style="width: 100%;" src="assets/overseas/3.jpg">
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Required Documents for Booking in Overseas Block:</h3>
        </div>
        <div class=text-content>
          <p>These are the documents that are required for booking a plot in Capital Smart City Overseas block</p>
          <ul>
            <li>2 Passport size pictures</li>
            <li>2 Photocopies of your NICOP</li>
            <li>2 Photocopies of Your next to Kin/ Nominee ID Card</li>
            <li>Booking amount of the plot</li>
          </ul>
          <img style="width: 100%;" src="assets/overseas/2.jpg">
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Possession of Overseas Block:</h3>
        </div>
        <div class=text-content>
          <p>The possession of the plots in the overseas block of the society is expected to be granted by the first
            quarter of 2020. The investors should keep up with the payment plan and pay the installments of the booked
            plan to avoid any delays in the possession and allocation of your plots.</p>
        </div>
      </div>
      <video style="width: 100%;" controls>
        <source src="assets/img/capital-smart-city.mp4" type="video/mp4">
        <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
      </video>
    </div>
  </div>
</div>
