<div class=page-title>
  <div id=particles-js-pagetitle></div>
  <div class=container>
    <h1>Lahore Smart City</h1>
    <h6>Everest Marketing</h6>
  </div>
</div>
<div class=section-block>
  <div class=container>
    <div class=row>
      <div class=col-md-12>
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">First Step</h2> -->
          <h3>Lahore Smart City</h3>
        </div>
        <div class=text-content>
          <p>Lahore Smart city will the first smart city in Lahore and the 2nd in Pakistan. After the Enormous Success
            of Capital smart-city at Islamabad, Future Development Holding limited initiated to start yet another
            exciting chapter of a smart city in the city of gardens called “Lahore”.
          <p>Lahore Smart city is not launching yet but as Lahore is a metropolitan city, and also a hub of cultural and
            financial activities, Capital smart city Lahore is forecast to be a much larger success than their first
            project.
          <p>According to Information provided by developers of Capital Smart City Lahore, it has already acquired
            approximately 20,000 kanals of streamlined property across Lahore by-pass, where this residential venture
            will be developed in a few days or weeks. Project NOC is now under process at Lahore authorities LDA, which
            is anticipated to be issued over the next 1 month.</p>

        </div>
        <!-- <div class="row mt-30">
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-1.jpg">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-2.jpg">
          </div>
        </div> -->
      </div>
      <div class=col-md-12>
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">First Step</h2> -->
          <h3>Location of Lahore Smart City</h3>
        </div>
        <div class=text-content>
          <p>For the given location by the authorities of Lahore Smart city. This housing society will be situated on
            Lahore Bypass near kala Shah kaku. It is located just next to Lahore interchange. You can easily reach to
            housing society from GT Road, Lahore, and also from Lahore-Sialkot Motorway.
          <p>It will have another accessible route which is from Lahore Ring Road. This will help residential folks to
            connect the Lahore Smart city housing society with the rest of Lahore in minutes of drive.
          <p>According to Information provided by developers of Capital Smart City Lahore, it has already acquired
            approximately 20,000 kanals of streamlined property across Lahore by-pass, where this residential venture
            will be developed in a few days or weeks. Project NOC is now under process at Lahore authorities LDA, which
            is anticipated to be issued over the next 1 month.</p>
          <!-- <div class="col-xs-12 col-md-12 col-sm-6"><img style="width: 100%;" alt=service-detail
              src="https://skymarketing.com.pk/wp-content/uploads/2020/08/lahore-smart-city-location..jpg">
          </div> -->
          <p>Capital Smart City Lahore is located a little outside from the main Lahore city. Developers took the
            initiative to make a housing society at the distance from the main Lahore because of the rush and hustle of
            the city. But every major commercial area of the Lahore is easily reachable on a few minutes’ drive from the
            housing society.</p>
          <p>New Campus of UET Lahore is located on the western side of the housing society and can be reached on 5
            minutes drive from Lahore Smart City.</p>
          <p>One of the best housing society DHA Lahore and Allama Iqbal Lahore Airport is reachable only within 18
            minutes’ drive.</p>
          <p>The main head office of the Capital Smart City Lahore housing society is also nearby. You can see it in the
            provided google map</p>
        </div>
        <!-- <div class="row mt-30">
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-1.jpg">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6"><img alt=service-detail src="assets/img/content/h-sketch-2.jpg">
          </div>
        </div> -->
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Future Developments Holdings (Pvt.) Limited</h3>
        </div>
        <div class=text-content>
          <p>Future Developments Holdings (Pvt.) Limited are the developers of this exciting housing society. FDHL Is
            One of the best Professional property developers and assets Management Business organization, which assists
            in producing bright cities that are smart to not merely supply lavish upscale houses but also rewarding and
            innovative consultancy to its own customers.
            <!-- <video style="width: 100%;" controls>
              <source src="assets/img/video.mp4" type="video/mp4">
              Your browser does not support HTML video.
            </video> -->
          <p>FDHL is a combination of two organizations, China Liaoning International Economic and Technical Cooperation
            Group Corporation Ltd (CLIC) and Engineering Dimensions (Pvt.) Limited (EDL). They are the 2 of the Primary
            Business partners with experience in both technical and leadership skills.</p>
          <p>FDHL is an Organizational institution that was first registered under Companies Ordinance 1984. Multiple
            National and international small organization firms came together to generate this little business
            enterprise.
          <p>FDHL is dedicated to providing innovative modern dwelling Experience in Lahore Smart City in its own
            industrial and residential zones. All these zones are linked via the key G.T road and are built around the
            Lahore bypass, together Lahore ring road for immediate accessibility.</p>
          <p>
            Future Developments Holdings Pvt. Limited additionally is Additionally called FDHL. It is real property and
            estate developer and only an international assets Management Company operating in Pakistan.
          </p>
          <p>FDHL is building faith in Smart cities and housing societies. Such cities will lead to international
            criteria of sustainability together with Powerful economical and professional devotion. These communities
            constructed with Strategic investments, advanced urban planning, hi-tech facilities, and life Cycle assets
            management.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Design consultants of Lahore Smart City</h3>
        </div>
        <div class=text-content>
          <p>Other consultants will help Lahore Smart City in the development processes are.</p>
          <ul>
            <li>
              Cracknell
            </li>
            <li>
              Surbana Jurong company
            </li>
            <li>
              Harradine golf
            </li>
            <li>
              Troon golf
            </li>
            <li>
              DSA Architects International company
            </li>
            <li>
              Arquivio architects
            </li>
            <li>
              Smart Future
            </li>
            <li>
              Design men consulting engineers
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Master Plan of Lahore Smart City</h3>
        </div>
        <div class=text-content>
          <p>There is currently no specific information available regarding the master-planned and facilities provided
            or characteristics of the entire housing society. After time to time, according to the upcoming news, we
            will always be upgrading this information and when any information is revealed by the developers.</p>
          <p>
            Even though the official launching remains a Couple of Weeks Away, the Lahore Smart City housing Society has
            introduced pre-launch offers in introductory rates for 5 Marla, 10 marla, and one Kanal residential plots in
            society. These plots are limited in number.
          </p>
          <p>Exactly like Capital Smart city, Lahore Smart city is going to possess residential general block, overseas
            Block, Finacial square, education district, health district, silicon valley, sports district, and Executive
            Block.</p>
          <p>
            Overseas Pakistanis will only qualify for reserving a plot at the overseas block, whereas Local residents
            are going to have the ability and opportunity to reserve their plots in Executive Block and residential
            block.
          </p>

        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Rates of Lahore Smart City in Lahore</h3>
        </div>
        <div class=text-content>
          <p>Given are the pre-launch cost of residential plots in overseas and executive blocks which are currently
            available:</p>
          <h5>
            Executive Block of Lahore Smart City
          </h5>
          <ul>
            <li>
              5 Marla Plot is in 18 Lac Rupees
            </li>
            <li>
              10 Marla Plot is in 33 Lac Rupees
            </li>
            <li>
              1 Kanal Plot is in 54 Lac Rupees
            </li>
          </ul>
          <h5>
            Executive Block of Lahore Smart City
          </h5>
          <ul>
            <li>5 Marla Plot is in 19 Lac Rupees</li>
            <li>10 Marla Plot is in 34 Lac Rupees</li>
            <li>1 Kanal Plot is in 55 Lac Rupees</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Payment plans of Lahore Smart city</h3>
        </div>
        <div class=text-content>
          <p>Good news for the clients of Lahore Smart city. Only a month has passed and it is confirmed that plot
            prices are revised. According to the official page of Lahore smart city,</p>
          <p>
            Lahore Smart City is still in its pre launch phase and prices are already increased. Its launching ceremony
            is not yet happened. But people are getting plots in no time. LSC housing society has start booking with 18
            lacs and now it jumps to 22 lacs. Soon it’s going to be more costly due to development of the housing
            society.
          </p>
          <p>
            If you want to earn a good profit in short time, then Lahore Smart City is the best option because it’s
            going to be a golden opportunity for investment purpose. And if you want to live a good family life, then in
            two to three years, this society is going to be flourished and dwelling.
          </p>
          <p>
            Authorities have already released their payment plans for their 2nd smart city called Lahore Smart City.
            Bookings of plots are offered on 10 percent down payment only, and 10 percent confirmation charges are also
            applied and payable but after 2 months. Other than this, the remaining cost of plots will be paid in the
            next 3.5 years in easy and affordable fourteen equal quarterly installments.
          </p>
          <h5>
            Given below are the latest payment plans for the housing society:
          </h5>
          <ul>
            <li>10 percent extra total cost on specific plots like main road plots, corner faced plots, park facing
              plots. These charges are applied on 50 to 99 feet wide main boulevard.</li>
            <li>15 percent extra total cost on specific plots of the main boulevard of 100 feet and above</li>
            <li>10 percent rebate on full payment.</li>
            <li>5 percent rebate on full payment.</li>
            <li>12000 rupees’ charges for reservation fees on booking up to 5 marla plot. It will be non-refundable.
            </li>
            <li>15000 rupees’ charges for reservation fees on booking above 5 marla plot. It will be non-refundable.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Booking procedure for booking in a residential block</h3>
        </div>
        <div class=text-content>
          <p>If you wish to reserve a residential plot at Capital Smart City Lahore, please follow the given process:
          </p>
          <h5>
            Step 1:
          </h5>
          <p>Pay order of 20 percent down payment in favor of “Future Developments Holdings (Pvt) Ltd.</p>
          <h5>
            Step 2:
          </h5>
          <p>Download, print and fill this out Application Form</p>
          <h5>
            Step 3:
          </h5>
          <p>Attach required documents to the application of the applicant</p>
          <h5>
            Step 4:
          </h5>
          <p>Show original documents also for verification</p>
          <h5>
            Step 5:
          </h5>
          <p>Submit your kind, files, and cover order to us to verify your booking</p>
          <p>Your document will be ready within 30 days and discharge to your place.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">The Final Step</h2> -->
          <h3>Required Documents for Booking in residential Block</h3>
          <h5>If you want to book a plot in Lahore smart city, then you will need the following documents to book your
            space.</h5>
        </div>
        <div class=text-content>
          <ul>
            <li>2 Passport size pictures of the applicant</li>
            <li>2 Photocopies of your NICOP of the applicant</li>
            <li>2 Photocopies of Your next to Kin/ Nominee ID Card</li>
            <li>Booking amount of the plot</li>
            <li>Booking form</li>
          </ul>
          <p>
            If you want to book a plot in an overseas block, then you need further legal documents which proves that you
            are living outside the country. For example, a copy of overseas CNIC or living address.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
