.embed-responsive-item {
  width: 100%;
  height: 450px;
}
.section-heading,.text-content {
  h5, h3 {
    color: #ffa700;
  }
}
.text-content {
  li {
    color: #676767;
    font-size: 14px;
    font-weight: 500;
    line-height: 200%;
    margin-bottom: 15px;

  }
}
