<div class=page-title>
  <div id=particles-js-pagetitle></div>
  <div class=container>
    <h1>About Us</h1>
    <h6>Everest Marketing</h6>
  </div>
</div>
<div class=section-block style="padding-top: 90px;
padding-bottom: 20px;">
  <div class=container>
    <div class=row>
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class=section-heading>
          <h2 class="animated fadeInLeft wow">About Us</h2>
          <h3>Mission Statement</h3>
        </div>
        <div class=text-content>
          <p align="justify"> In addition to our core values, our mission statement more clearly defines our true
            purpose as an organization and further enhances our team culture. We are unified in consistently living out
            our core values and performing our professions in direct alignment with our mission statement.
          <p align="justify">We are dedicated to providing world-class service and market-leading expertise to our
            clients. We are passionate about providing the extra value that others simply will not. Fanatical integrity
            and consistently impressive results will be the signature of our service. Our collaborative spirit and
            desire to grow will help us achieve the goals we set. We will make the families we serve feel special,
            creating raving fans, and help them truly win. We will succeed because we will not let our clients fail.</p>
        </div>
      </div>
    </div>
    <div class=row>
      <div class="col-xs-12 col-md-6 col-sm-6">
        <div class=section-heading>
          <!-- <h2 class="animated fadeInLeft wow">About Us</h2> -->
          <h3>Everest Real Estate Marketing INC</h3>
        </div>
        <div class=text-content>
          <p align="justify"> Fosters a culture of partnership in which all clients and listings are
            represented in a cooperative environment by all its agents, thereby ensuring its clients and listings have
            the competitive edge.” Rana M. Tanveer- Director.
          <p align="justify">As our team has grown, it’s become more and more important to identify and outline the core
            values that
            guide everything we do. Our core values develop and define our culture, our brand, our business strategies
            and who we are as professionals in today’s corporate world. It is our goal to consistently live these core
            values out in our lives on a daily basis and we encourage both our teammates and our clients to hold us
            accountable to these values.</p>
          <ul>
            <li> Innovate and lead</li>
            <li>Embrace accountability</li>
            <li>Focus on solutions</li>
            <li> Build relationships and have fun</li>
            <li> Be great and never settle</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class=outline-bordered-right><img alt=img src="assets/img/content/about1.jpg"></div>
      </div>
    </div>
  </div>
</div>
<div class=section-block-parallax style="background-image:url('assets/img/bg/bg4.jpg')">
  <div class=container>
    <div class="owl-carousel owl-theme" id=testmonials>
      <div class="mt-40 testmonial-block">
        <h4>Tim Cook</h4>
        <h6>Director</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
      </div>
      <div class="mt-40 testmonial-block">
        <h4>John Doe</h4>
        <h6>Designer</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
      </div>
      <div class="mt-40 testmonial-block">
        <h4>Clara White</h4>
        <h6>Marketing</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
</div>
