<div class=section-block>
  <div class=container>
    <div class=row>
      <div class="col-xs-12 col-md-3 col-sm-3">
        <div class=section-heading>
          <h2 class=" wow">Special Prices</h2>
          <h3>Our Pricing List</h3>
        </div>
        <div class=text-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie
            faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class=pricing-box>
          <h4>2 Room Apartment</h4>
          <h5>$49,000</h5>
          <ul>
            <li>77<sup>2</sup>
            <li>30m<sup>2</sup>
            <li><i class="fa fa-window-close-o" aria-hidden=true></i>
            <li>15m<sup>2</sup>
          </ul>
          <div class=pricing-button><a href=#>Contact Us</a></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="pricing-box pricing-best-center">
          <div class=pricing-center>
            <h6>Best value</h6>
          </div>
          <h4>3 Room Apartment</h4>
          <h5>$89,000</h5>
          <ul>
            <li>140m<sup>2</sup>
            <li>80m<sup>2</sup>
            <li><i class="fa fa-check-square-o"></i>
            <li>50m<sup>2</sup>
          </ul>
          <div class=pricing-button><a href=#>Contact Us</a></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class=pricing-box>
          <h4>4 Room Apartment</h4>
          <h5>$159,000</h5>
          <ul>
            <li>220m<sup>2</sup>
            <li>150m<sup>2</sup>
            <li><i class="fa fa-check-square-o"></i>
            <li>90m<sup>2</sup>
          </ul>
          <div class=pricing-button><a href=#>Contact Us</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
