<footer>
  <div style=height:150px id="particles-js-footer"></div>
  <div class=container>
    <div class=row>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <a href=#><img alt=img src="assets/img/log.png"></a>
        <p>We conduct ourselves in the highest ethical standards, demonstrating honesty and fairness in every decision
          and action.
        <p>© Copyright 2017 Everest Marketing. All Rights reserved
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class=footer-title>
          <h2>Site Map</h2>
        </div>
        <ul>
          <li><a [routerLink]="'/'">Home</a>
          <li><a [routerLink]="'/about'">About</a>
          <li><a [routerLink]="'/services'">Services</a>
          <li><a [routerLink]="'/contact'">Contact</a>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class=footer-title>
          <h2>Contact Us</h2>
        </div>
        <ul>
          <li>Call Us
          <li><a href="tel:+923034222111">+92-303-4222111</a>
          <li>
          <li><a href="tel:+923334363518">+92-333-4363518</a>
          <li>
          <li><a href="tel:+924237199440">+92-423-7199440</a>
          <li>
          <li>Mail Us
          <li><a href="mailto:EverestMarketing@gmail">EverestMarketing@gmail.com</a>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class=footer-title>
          <h2>Visit Us</h2>
        </div>
        <ul>
          <li>Everst Real Estate Marketing INC
          <li>166 C Block Phase 8 DHA Lahore
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class=footer-title>
          <h2> Social Links</h2>
        </div>
        <!-- <form><input placeholder="Search ..." name=s></form> -->
        <div class="" style="margin-left: -12px;">
          <a href="https://www.facebook.com/Everestrealestatemarketing/"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/Everestrealestatemarketing"><i class="fa fa-instagram"></i></a>
          <a href="https://www.twitter.com/Everestrealestatemarketing"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/everest-marketing-56870b1b8"><i class="fa fa-linkedin"></i></a>
          <a href="https://api.whatsapp.com/send?phone=+923034222111" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<a href=# class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden=true></i></a>
