<div class="container section-block">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class=section-heading>
        <h2 class="">Latest News</h2>
        <h3>Fresh updates for you, read with detail.</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
      <div class=" blog-modern">
        <h3>Plant Trees While Searching The Web</h3><strong>Dec 04, 2017</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
        <div class=blog-moder-button><a href=#>Read More</a></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
      <div class=" blog-modern" >
        <h3>Plant Trees While Searching The Web</h3><strong>Dec 04, 2017</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
        <div class=blog-moder-button><a href=#>Read More</a></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
      <div class=" blog-modern">
        <h3>Plant Trees While Searching The Web</h3><strong>Dec 04, 2017</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
        <div class=blog-moder-button><a href=#>Read More</a></div>
      </div>
    </div>
  </div>
</div>
